[2012-02-28 23:14] ghost opened #2 "after install robotframework-httplibrary show error in console"
RIDE 0.42.1 running on Python 2.6.5.
Robot Framework 2.7 b1 (Python 2.6.5 on win32)

[code]

[2012-02-29 12:18] peritus commented on #2
Thanks for the report!

I had this once on the continous integration server: http://code.google.com/p/robotframework/issues/detail?id=995#c6 (also related bug, maybe in robotframework itself?).

Can you provide more info (e.g. your tests) on how this happens ? Does the error occor every time you execute this test ? Would be great to have this reproducible!

[2012-02-29 21:50] ghost commented on #2
yes , the problem is when import the library HttpLibrary.HTTP in resource and in suite.
in both.

[2012-03-07 14:45] criz1211 commented on #2
Hi,

I too face similar problem.
Just by adding the HttpLibrary.HTTP in the suite, i get this error.
I get this error even if i dint use any of its keywords or any references in the test cases.

I use Robot Framework 2.6.0 with Python 2.6.6.

[2012-03-07 14:51] peritus commented on #2
Related: "Issue with RotatingFileHandler logging handler on Windows " http://bugs.python.org/issue4749

[2012-03-07 14:54] peritus commented on #2
@criz1211 @jrvilda Could you test this with robotframework 2.7 ? Alpha 1 has this fix https://code.google.com/p/robotframework/issues/detail?id=985 included, this looks like a perfect match for the problem.

rf-httplib uses the "python standard logging" that's new. Unfortunately I don't have a windows machine set up for development.

[2012-03-07 14:58] peritus commented on #2
@jrvilda I see you're already using RF 2.7 b1 .. I have no idea whether this is rf-httplib-specific, it certainly seems windows-specific. I'll ping the @robotframework guys.

[2012-03-07 22:41] pekkaklarck commented on #2
Do I get it right that this happen consistently on Windows but doesn't happen elsewhere? I try to remember to test this tomorrow when I'm at the office and have an access to a Windows box. If there's a reproducable bug in Robot itself, we ought to be able to fix it for RF 2.7 rc 1.

[2012-03-08 08:18] yanne commented on #2
@jrvilda @criz1211 Which Windows version you are using?

I don't get any errors in Win XP with Python 2.7

[2012-03-08 10:50] peritus commented on #2
This might not be windows-specific after all:

http://travis-ci.org/#!/peritus/robotframework-httplibrary/jobs/820794/L410 (a linux box, note that the tests don't fail but simply print out the same stack trace after they all passed)

[code]

doesn't seem deterministic, though.

Btw, contrary to my earlier claims, rf-httplib does not use "import logging" but "from robot.api import logger" https://g

[2012-03-08 11:34] peritus commented on #2
Seems to be python-2.6 specific. Look at http://travis-ci.org/#!/peritus/robotframework-httplibrary/builds/820920 (and maybe the previous builds)

All those with windows machines, could you try whether python 2.6 vs. 2.7 makes a difference ?

[2012-03-08 13:22] yanne commented on #2
We managed to find the root cause for the Traceback.

It seems that webtest registers a StreamLogger that writes to stderr. The registartion happens during library init, at which point RF has replaced stderr with a StringIO instance. Later, after sys.exit() has been called and that logger is closed it tries to close the already closed StringIO instance, which fails and causes the traceback.

The f

[2012-03-08 13:29] pekkaklarck commented on #2
It would be possible to add the same fix to HTTPLibrary too. That would suppress the traceback when using the library with earleir Robot versions. The fix is pretty simple:

[code]

[2012-03-08 14:23] ghost commented on #2
resolved with robotframework-2.7rc1

[2012-03-08 16:01] peritus commented on #2
Wow, thanks for the quick resolution (and the -rc1!).

Won't include the `raiseExceptions = False` in the lib as I consider it bad style (modifying globals, etc.) — but everyone encountering that (and wanting to use old versions of python and robot framework) is encouraged to include the two lines in his/her bootstrapping code.

[2012-03-08 16:01] #2 closed, assigned to peritus

[2012-03-08 16:02] peritus commented on #2
BTW, rf-httplib is now tested against -rc1 on @travis http://travis-ci.org/#!/peritus/robotframework-httplibrary — looks good so far.

[2012-03-08 17:08] pekkaklarck commented on #2
@peritus, pretty much all configuration to logging has, by design, global effects. I agree that in this case adding the workaround for others bugs in httplib isn't needed, though, especially since the problem doesn't appear with Python 2.7 or RF 2.7.

If someone has motivation, a bug could be opened to WebTest for registering StreamHandler with sys.stderr that others may have intercepted. They sho

[2012-03-09 14:06] criz1211 commented on #2
Thanks a lot everyone!

It helps me a lot to fix this problem.

[2012-03-29 16:52] johngluck65 opened #3 "Library Should Support Virtual Hosting"
Steps to Reproduce
This needs to be on server that is set up to support virtual hosting

For example: http://httpd.apache.org/docs/2.0/vhosts/examples.html
1. Create HTTP Context with www.myfirstdomain.com (This apparently sets the Host: resquest header)
2. Now do a GET on http://www.myseconddomain.com

Expected
- Examining the location response header should show www.myfirstdomain.com

Actual
- T

[2012-03-29 16:57] johngluck65 opened #4 "Please add a method for returning the entire response header"
Right now, I can only look at a response by specific header name.  I want to be able to look at the entire response to know if there is, for example a duplicate header.  Right now I know way of doing that that I can see

[2012-04-08 16:23] peritus commented on #3
So, here's what you do:

[code]

There was an unneccessary (if you ask me) check in livetest (that I'm using underneath) that prevented this from working in the first place.

[2012-04-08 16:23] #3 closed, assigned to peritus

[2012-04-08 16:36] peritus commented on #4
Ok so, did a quick test:

Wrote a server that answers as follows when connected to w/ telnet (notice the duplicate header):

[code]

When write a test against that:

[code]

and I run this w/ @robotframework's DEBUG loglevel like this:

[code]

the debug output in the HTML form looks like this:

![18:25:52.185  DEBUG   No request headers set
18:25:52.185    DEBUG   No request body set
18:25:52.185

[2012-04-08 16:51] peritus commented on #3
Reported upstream at https://github.com/storborg/livetest/issues/7 — and pushed to PyPI as v0.3.1 http://pypi.python.org/pypi/robotframework-httplibrary/0.3.1

[2012-04-10 02:44] johngluck65 commented on #4
Yes, I'm trying to assert the negative, that there are no duplicate headers.

Thanks for working this

---

 From: Filip Noetzel reply@reply.github.com
To: johngluck65 john_gluck@yahoo.com
Sent: Sunday, April 8, 2012 9:36 AM
Subject: Re: [robotframework-httplibrary] Please add a method for returning the entire response header (#4)

Ok so, did a quick test:

Wrote a server that answers as follows w

[2012-04-10 02:45] johngluck65 commented on #3
Cool. Thanks

---

 From: Filip Noetzel reply@reply.github.com
To: johngluck65 john_gluck@yahoo.com
Sent: Sunday, April 8, 2012 9:23 AM
Subject: Re: [robotframework-httplibrary] Library Should Support Virtual Hosting (#3)

So, here's what you do:

[code]

There was an unneccessary (if you ask me) check in livetest (that I'm using underneath) that prevented this from working in the first place.

--

[2012-04-25 10:58] ghost opened #5 "Please add a method for returning the response status"
Hi,

Currently there are checks, methods to display in the log.
But there is a "Get Response Status"

Thank you for this work.

[2012-04-25 11:20] peritus commented on #5
That is a valid concern. care to send a pull request ?

[2012-05-03 23:08] johngluck65 opened #6 "HEAD request don't allow me to set request headers"
I've looked at my outgoing request with wireshark.  I am doing the following

Set Request Header  User-Agent  _censored_
HTTPLibrary.HTTP.HEAD   ${/}${file_path}

Server configuration should cause a custom response header to return

This does work if I change the request type to a GET

however when I look at my outgoing request, my request doesn't contain the User-Agent header that I am attempting

[2012-05-11 23:24] johngluck65 commented on #4
Is there any progress on this.  I'd still like to be able to assure that there are no duplicates.

[2012-06-03 07:42] #6 closed, assigned to peritus

[2012-06-03 08:03] #5 closed, assigned to nobody

[2012-06-03 08:58] #4 closed, assigned to peritus

[2012-06-03 09:08] peritus commented on #4
Fixed in v0.3.2 (released a few minutes ago). Please see https://github.com/peritus/robotframework-httplibrary/commit/f4c1a655886de83512683e704d2047dd0a79f803#diff-3 on how to use this.

[2012-06-03 09:08] peritus commented on #5
This is included in v0.3.2, happy testing!

[2012-06-03 09:08] peritus commented on #6
This is fixed included in v0.3.2, happy testing!

[2012-07-10 13:06] testipena opened #7 "Could you add HTTPS support to the httplibrary?"
Hello!

Could you add an elegant way to use HTTPS with the httplibrary?

I modified the livetest.py and __ init__.py in the following way and got https requests to work.

livetest.py

<code>

[code]

</code>

and __ init.py __

<code>

[code]

</code>

There seems to be some issue when the modified library is taken into use in the Robot Framework the library needs an argument to work correctly.

[

[2012-07-10 15:52] peritus commented on #7
@testipena

yes, this library is intended to work with HTTPS as well.

I will probably not follow your proposal (`Create HTTP Context      <scheme>    <host>`) as it breaks backwards compatibility and forces a burden on people "just" using plain HTTP.

Also, for this to be merged I'd require a few tests to make sure it's working correctly.

Feel free to send a pull request, otherwise I'll leave th

[2012-07-11 08:23] peritus commented on #7
What do you think of

[code]

though ?

[2012-07-11 09:49] testipena commented on #7
That sounds good if the arguments switch places as you suggest. The backward compatibility is good to keep in mind.

<code>
Create HTTP Context    <host>    <scheme [default:http]>
</code>

other solution could be to add new Keyword

<code>
Create HTTPS Context    <host>
</code>

, but that would cause to use Run Keyword If -statements.

[2012-07-11 09:55] peritus commented on #7
Yes, I also plan to add this to the `GET` keyword, so you can do

[code]

that is equivalent to

[code]

[2012-07-11 09:59] testipena commented on #7
That is good idea.

[2012-07-31 14:19] stevejefferies commented on #7
I am also very keen to see HTTPS support included as I have implemented a very similar fix to that suggested here locally to allow our test system to support HTTPS. If I can put together a set of working test cases I will submit a pull request.

[2012-07-31 14:20] peritus commented on #7
I have a half-working implementation here as well that waits for me to wrap it up. I'd be happy to accept a pull request with tests and docs.

[2012-10-14 10:32] #7 closed, assigned to nobody

[2012-12-13 22:26] ravijammi opened #10 "Confusing: GET http://host/path creates new HTTP Context"
Hi,
I am trying to use the latest version of the httplibrary, and i am running into this issue.
Even though i try to use "Set Request Header" it does not add them to the request.

Here is one of the snippets:

[code]

Is this an issue, if not please correct me where i am going wrong.

Thanks,
Ravi

[2012-12-14 06:09] peritus commented on #10
Hey Ravi,

thanks for this bug report! Here's what happens:

[code]

expands internally to

[code]

and thus — in the new context there are no headers set.

So, to make your test work, you could just drop the "http://localhost" bit of the `GET` keyword invocation (and move the "`Create HTTP Context  http://localhost`" bit to Test Setup or earlier in the test).

Initially I thought this expansion w

[2012-12-14 08:38] ravijammi commented on #10
Yay!! awesome, that worked. Thanks a lot for quickly looking into it.

-Ravi

[2012-12-25 22:05] peritus opened #11 "jsonpointer 0.6 breaks json keywords"
This happens if jsonpointer 0.6 is installed, doesn't happen with jsonpointer 0.5:

[code]

[2013-01-06 13:34] #11 closed, assigned to peritus

[2013-01-19 07:35] EllieSky opened #12 "Cannot Pass JSON as part of POST request"
I am using HttpLibrary.HTTP to test REST api.

I am authenticating as a user, retrieving the token, and then I want to update the user's password. This last part, requires me to execute a POST, where I pass JSON as a container of 2 parameters.

Here is what it looks like in firebug:

[code]

Here is my test:

[code]

If I pass a dictionary ${dict} I get: AttributeError: 'dict' object has no attrib

[2013-01-19 08:05] peritus commented on #12
Thanks for using this library!

First, you can use `-L TRACE` when invoking Robot Framework to get a detailed log of what is transmitted via HTTP.

Second, `Set Request Body    ${value}` looks about right, as the library intentionally doesn't contain any automagic that converts dicts to JSON.

Third, `415 Unsupported Media Type` looks like an error sent by your http server, so the request gets thr

[2013-01-19 08:05] #12 closed, assigned to peritus

[2013-01-19 08:07] peritus commented on #12
Regarding a json response:

[code]

works for me.

[2013-01-20 07:38] EllieSky commented on #12
Thank you for your response, it was tremendously helpful to me.
After setting the Content-Type header as you recommended, my test immediately started working!
Your other two recommendations were also very useful.

[2013-02-12 13:33] peritus opened #13 "Support for sending raw request bodies"
There is no way to send a raw request body (e.g. a binary file), everything is UTF-8 encoded.

Webtest supports this somehow, so should this library.

[2013-02-26 04:48] chy168 opened #15 "InvalidURL: nonnumeric port: '//host'"
Hi,
I would like to use POST keyword to send my data.
I use a simple way to verify the HTTP request.

[code]

[code]

We can see in "HttpLibrary.HTTP.Set Request Body", it shows "Request body set to TEST_HELLO".
But in "HttpLibrary.HTTP.POST", i got "No request body set".

![Screen Shot 2013-02-26 at 12 43 17 PM](https://f.cloud.github.com/assets/424758/194996/29875864-7fcf-11e2-85fc-19100a6ba189.

[2013-02-26 06:02] peritus commented on #15
This is a duplicate of #10 (read about the details there). Basically you need to change

[code]

in your test.

I'll definitely need to look into #10 , as this is really confusing.

[2013-02-26 06:03] peritus commented on #15
Also, thanks for the superb bug report!

[2013-02-26 07:12] chy168 commented on #15
thanks you very much! i will check it out!

[2013-02-26 07:47] chy168 commented on #15
Hi @peritus

I might some confuse in create context.
As your suggestion and #10 , i update some code base on my previous post as below.

[code]

[code]

But it will case a error "InvalidURL: nonnumeric port: '//service.test'"

![Screen Shot 2013-02-26 at 3 36 26 PM](https://f.cloud.github.com/assets/424758/195322/c7636c62-7fe8-11e2-8ede-8ed46ed4ef5d.png)

After some investigation, i updated my tes

[2013-02-26 08:07] peritus commented on #15
Glad you got it working!

No, your two alternative invocations of `Create Http Context` _should be_ equivalent. I'll keep this open to add tests that resemble the edge cases you uncovered, so the next person won't be as confused ;) Thank you!

[2013-02-26 12:39] peritus opened #16 "Compatibility for WebTest 2.0"
webtest 2.0 is out, this version doesn't work with robotframework-httplibrary: http://webtest.readthedocs.org/en/latest/changelog.html#id1

However, from the changelog:

[code]

.. so maybe we can switch to WebTest 2.0 and remove the dependency on livetest.

[2013-02-26 12:40] peritus commented on #16
Error looks like this:

[code]

[2013-03-12 08:47] #16 closed, assigned to peritus

[2013-03-15 21:48] ravijammi commented on #10
Hi Peritus,
This has been working fine, recently i upgraded to the latest version  for robotframework,your library and others as well.
Since, then i am getting this error: "gaierror: [Errorno 8] nodename nor servname provided, or not known"
Following is one of my snippets:

[code]

Am I doing anything wrong here?

Thanks,
Ravi

[2013-03-16 09:22] peritus commented on #10
@ravijammi this is a different issue.

Googling for "gaierror" raises this: http://docs.python.org/2/library/socket.html#socket.gaierror — probably your DNS server does not resolve `localhost` to `127.0.0.1`.

[2013-06-24 18:36] jerry57 opened #17 "Get Json Value keyword required index, not shown/discussed in documentation"
Here is the current documentation for "Get Json Value" keyword
Get Json Value  json_string, *args

Get the target node of the JSON document json_string specified by json_pointer.

Example:

[code]

Note that it doesn't reference an index in the example or explanation.

Here is what I had to use in our testcase to get this working:

[code]

Note the index of "0" after each level

Without the inclus

[2013-06-25 06:05] peritus commented on #17
The JSON keywords use JSON Pointer (specified in http://tools.ietf.org/html/draft-pbryan-zyp-json-pointer-02).

If your JSON looks like

[code]

then `${result}` in

[code]

should be `1234`, so it seems the library is behaving correctly.

If your JSON would look like

[code]

then the JSON pointer to use is `/groups/property/id`.

If I misunderstood this, please provide a complete testcase that I

[2013-06-25 07:11] jerry57 commented on #17
Looks like the problem may have been my lack of understanding here.
Sorry about that and thanks for the education.

jer

On 6/24/13 11:05 PM, Filip Noetzel wrote:

##

Linux registered user #475536
Ubuntu registered user #28583

[2013-06-25 07:22] peritus commented on #17
No problem, you're welcome ;)

[2013-06-25 07:22] #17 closed, assigned to nobody

[2013-07-01 06:31] chy168 opened #20 "Pass string argument as a part of request url?"
Hi,
I would like to write a common function which composited by httplibrary.
The keyword as below:

[code]

In my test, does it seems not parse by RF ? I will send the raw string
`/account?name=${req name}`
 to server. Is that a problem i use the argument and string in GET request?

Andy idea about this prolblem?

I also come up  a workaround by Catenate.

[code]

Thanks!

[2013-07-01 07:20] peritus commented on #20
I have no idea, both examples look like valid RF to me, but I could also be wrong. Parsing the robot-files is done by RF, unfortunately there is nothing i can do about this in this library.

[2013-07-01 07:20] #20 closed, assigned to nobody

[2013-07-02 15:56] ombre42 opened #21 "Add keyword to help construct a URL with query parameters"
When using query parameters, various characters need to be 'percent-encoded'. This can be done manually when the parameters are known, but when constructing the URL from unknown inputs, a method must be used to do the encoding. urllib.urlencode provides encoding functionality.

[2013-07-02 15:58] peritus commented on #21
Yes, you're right. Care to submit a pull request ? Perhaps something similar to the JSON keywords (i. e. creating/parsing query-string <-> robot framework dictionaries) ?

[2013-07-02 16:45] ombre42 commented on #21
I will submit a pull request, but I want to get a new release of SudsLibrary done first. How does this look:
build_url(path, *key_value_pairs) where key_value_pairs can also be a dict. This makes the keyword easier to use for simple use cases.

[code]

${url} would have value u'/foo?type=checking%20account'
URL here is not really a URL, but the part of the URL that you referred to as URL in other

[2013-07-10 08:17] grainnewallace opened #22 "HttpLibrary and multipart/form-data messages Boundaries are altered"
This issue was initially raised in the robot -framework users forum:

https://groups.google.com/forum/#!topic/robotframework-users/DB-mFNlAy3o

Robot Framework version: 2.7.5
robotframework_httplibrary-0.4.1

When I send a HTTP Post request using httpLibrary of a multi-part form data message type the additional boundaries get added which corrupts the message:
When I sent the message to Fiddler thi

[2013-07-10 08:53] peritus commented on #22
Possibly related to #13

[2013-07-10 08:54] peritus commented on #22
Also, I have no idea why httplibrary (or webtest) would do that.

[2013-08-02 18:30] viktoras25 opened #23 "DELETE request issues a warning"
Even the simplest
DELETE  /
issues a warning:

/usr/lib/python2.6/site-packages/webtest/app.py:551: WSGIWarning: You are not supposed to send a body in a DELETE request. Most web servers will ignore it
  lint.WSGIWarning)

[2013-08-26 17:02] stupchiy opened #25 "Not possible to init using maven plugin"
Trying to use library within Maven Plugin - http://robotframework.org/MavenPlugin/index.html, using extraPathDirectories to load properly PYTHONPATH, library itself loaded by maven... but have this error in related to HTTPLibrary other libraries...

Getting error on related library webtest==2.0.7

[code]

Is this related to HTTPLibrary or not and do you have any idea how to solve this?
Sorry if it

[2013-08-26 18:25] peritus commented on #25
Using this library from Java should work, but I don't have the expertise in debugging it.

You can try whether `import webtest` works on the jython command line, and maybe file a bug with webtest (although I don't know if jython is in their list of supported platforms).

[2013-08-26 18:25] #25 closed, assigned to nobody

[2013-08-27 07:07] peritus commented on #25
Thinking about it, `SyntaxError: no viable alternative at input ''----------a_BoUnDaRy'' (app.py, line 331)` looks like a multipart message (http://www.w3.org/Protocols/rfc1341/7_2_Multipart.html) — how did you download webtest ? Please install via `pip`, that could solve this.

[2013-08-27 10:17] stupchiy commented on #25
Hi Thanks, for the replies,
Yes I have installed using "pip", and tried also different versions...
And you right as to jython cmd, the same issue. And still can't manage to work it out.
I asked in webtest related google-group, maybe they will have some suggestion

[2013-08-28 15:27] stupchiy commented on #25
Hi, just wanted to comment out with a solution, in case you will need it at some point:
First of all the issue was due to jython 2.5 version, since it's replicate python 2.5 and the functions used in webtest library are supported only from 2.6 (actually just used differently, as I understood). So to solve this you need to use jython 2.7, which is currently in beta and so, not included in usual rob

[2013-08-28 15:29] peritus commented on #25
You're welcome. Glad I could help.

Have fun using my software and report back if there's anything I can do to make it even more fun!

[2013-09-10 11:18] peritus commented on #13
Note to self: Perhaps `Get Binary File` [http://robotframework.googlecode.com/hg/doc/libraries/OperatingSystem.html?r=2.8.1#Get_Binary_File] in combination with `Set Request Body` works.

[2013-11-28 10:39] peritus commented on #25
@stupchiy Did you make this library work in jython eventually ? Asking for a friend.

[2013-11-29 17:50] stupchiy commented on #25
Hey @peritus, sorry for late reply, yes I have managed to make it running... to solve this look to description above. If you will need some additional help let me know

[2014-03-12 09:48] forumbyr opened #26 "can response data with return 400/404/500 be verified"
if response is 400/404/500, does response data  support normal key words, eg : 'Should Contain' ?
I found it not supports now, it will fail soon if return status >=400  .
will you add this feature?
Thanks

[2014-03-12 09:51] peritus commented on #26
1) You can use the 'Next Request ...' family of keywords (documented at http://peritus.github.io/robotframework-httplibrary/HttpLibrary.html) to make expectations about the next request. Making failing requests fail the test as a default is just a convenience, because most of the time that's what you want.
2) You can the 'Get Response Status' keyword to get the response status code and then make y

[2014-03-12 09:51] #26 closed, assigned to nobody

[2014-03-13 01:01] forumbyr commented on #26
sorry for not seen this : Next Request May Not Succeed, and it works fine!
Thanks !

[2014-03-13 01:33] forumbyr commented on #26
I have another quersion:
does httplibrary support unicode ?
eg, test with :
GET     /query?q=sälen
or:
GET     /query?q=s中国
both will fail , error is :
UnicodeEncodeError: 'ascii' codec can't encode character u'\xe4' in position 30: ordinal not in range(128)
Thanks

---

and i found this :https://github.com/peritus/robotframework-httplibrary/issues/21
maybe url also could be encoded before call ht

[2014-06-04 14:45] jverhoeven opened #27 "Allow a body with a PATCH"
Right now no body can be sent with the 'Http Request' keyword.

Or better, make PATCH a primary citizen like PUT, POST, etc.

[2014-06-09 20:14] jverhoeven commented on #27
See my pull request #28.

[2014-06-11 09:40] naro opened #29 "Unicode data in response"
I'm trying to write a test against a HTML file containing some non ascii characters. Very simple example is this file with a non-ascii dash between words Hello, World:

[code]

Running this test case fails with _UnicodeDecodeError: 'ascii' codec can't decode byte 0xe2 in position 140: ordinal not in range(128)_ error message:

[code]

Testing a page without a dash is fine (note page1.html instead

[2014-06-11 11:16] naro commented on #29
It seems adding a new method
response_text_should_contain which would use exactly the same code as response_body_should_contain except checking self.response.text instead of self.response.body would solve this issue.
'body' is bytes string, 'text' is unicode string, which is what I'm looking for.

[2014-06-11 11:21] naro commented on #29
and also get_response_text would be helpful in that case :)

[2014-08-08 09:06] ybilik opened #30 "Http Request sends wrong HTTP ?"
Hello,

I have done the following tests (with httplibrary 0.4.2). Both should return the same response, but the GET answer is a HTTP status 302 (as expected), while the Http Request answer is 400:

I ran into Wireshark to look at the sent requests, and it seems (not sure as I am not familiar with wireshark) that Facebook feels angry because when using the "Http Request" keyword, the Host header is

[2014-09-22 21:55] anamhybris opened #31 "Fail to get the full Server Response for GET Method....."
**\* Settings ***
Library           HttpLibrary.HTTP
Library           Collections
Library           OperatingSystem

**\* Test Cases ***
WS01 GET
    Create Http Context    ps-gamma-dev1.mtl.fra.hybris.com:19201    scheme=http
    Set Basic Auth    admin    nimda
    GET    /ws410/rest/iconicfeatures/IF1
    Log Response Body

The above is my Test Case. I should get the following response from th

[2014-11-07 18:21] jinlxz opened #32 "An importerror occurred when i import httplibrary"
i am a newer to this httplibrary, i have installed httplibrary 0.4.2 successfully, but a error occurred when I was importing this library, i don't know what's the issues, it says "no module named http", i don't know which file imports this module, i have checked the source code and found nothing, can anyone give me some help, thanks. (sorry maybe this is not a good place to ask for help.)

windows

[2014-11-08 04:27] jinlxz commented on #32
i got it, this error doesn't influence running tests.

[2014-11-08 04:27] #32 closed, assigned to nobody

[2015-04-13 18:40] GayanaYJ commented on #10
I am also encountering this gaierror alot which is a blocker for my testing.

13:28:41.532    FAIL    gaierror: [Errno 8] nodename nor servname provided, or not known
 Below is my observation

I have around 600 uri in array for which i have to do GET request

. When i place it in for loop and send request one by one. I get response for all 247 uri , when  it reaches 248 uri it fails there everytim

[2015-04-14 12:35] pm-sachin-nikam commented on #13
Hi @peritus ,

I tried to use "Set Request Body" and "Get Binary File" but getting following error:

20150414 18:05:42.999 : DEBUG : Response headers:
20150414 18:05:42.999 : DEBUG : date: Tue, 14 Apr 2015 10:00:42 GMT
20150414 18:05:43.000 : DEBUG : content-length: 0
20150414 18:05:43.000 : DEBUG : server: Apache-Coyote/1.1
20150414 18:05:43.000 : DEBUG : No response body received
20150414 18:05:

[2015-04-14 12:46] peritus commented on #13
If there is no response body, you can't retrieve it.

[2015-04-14 20:25] GayanaYJ opened #34 "gai error in consecutive GET requests"
I am also encountering this gaierror alot which is a blocker for my testing.

13:28:41.532 FAIL gaierror: [Errno 8] nodename nor servname provided, or not known
Below is my observation

I have around 600 uri in array for which i have to do GET request

. When i place it in for loop and send request one by one. I get response for all 247 uri , when it reaches 248 uri it fails there everytime. I hav

[2015-04-15 03:36] pm-sachin-nikam commented on #13
Hi @peritus ,

Thanks for your reply.

When I execute api using rest client to upload file. It works fine.

I was trying to automate it, but it is failing with error 415.

Below is the complete log:

Starting test: Automation.Test Suite.file upload
20150415 09:01:01.876 : TRACE : Arguments: [ u'192.168.1.1:8080' | u'http' ]
20150415 09:01:01.876 :  INFO : Host for next HTTP request set to '192.168

[2015-07-28 07:12] Gaurang033 opened #35 "SSL error while sending request on https"
Hi Guys,

I was using this httplibrary as rest client to test REST API, however whenever I am trying any request GET or POST i am getting following error.

The certificate shows as not trusted when I open that in chrome, would someone please let me know how to handle this issue?

[2015-07-28 07:14] peritus commented on #35
Can you make https connections from within plain python to that host?

[2015-07-28 07:14] peritus commented on #35
https://stackoverflow.com/questions/2146383/https-connection-python might help as well

[2015-07-28 10:03] Gaurang033 commented on #35
Hi,

I tried connecting to site using httplib in python. and it's not giving any
error. I also tried with chrome addon and it's working perfectly.

Gaurang Shah
Blog: AutomationTesting.co.in http://automationtesting.co.in
Mobile: +91 7387756556

On Tue, Jul 28, 2015 at 12:44 PM, Filip Noetzel notifications@github.com
wrote:

[2015-07-29 11:30] Gaurang033 commented on #35
Hi Guys,

Sorry for the earlier reply, following is the actual issue. I have multiple
machines from where I am calling REST API of our website, from few machines
I am successfully able to call the REST API however from other machine I am
not able to call the REST API

From the machine I am not able to call REST API, through HttpLib also it's
giving the same SSL error.  would someone please let me

[2015-08-03 13:34] Gaurang033 opened #36 "disable http certificate verification"
Hi,

Would you please let me know if there is any way to disable to http certification verification. I search on internet and figure out there is such thing for httplib however nothing so far for httplib and I guess you use HttpLib

If there is any way to implement it let me konw as well, as I stuck at this point where I can't use you lib until I resolve the issue of certification.

my website use

[2015-09-01 19:41] sherif84 commented on #35
just started to see the same issue ,  the same server is accessible on some and gives SSL errors on other machine , he http lib python fails on the failing machines similar to the robot test .
is there a location where SSL certs are preserved on the machine > maybe i can delete the cert and do another call to download the new cert ?

[2015-09-24 03:31] TuringZhu opened #37 "How To Send json data to server"
I now use httplibrary to test interface, but I find that the sending data like this:
name=pkg1&type=1&cId=2&source=source1&memo=memo1

Howerer, I want to sent data like this:

{
    "name":"packadge1e",
    "type":1,
    "cId":2,
    "soururce":"source",
    "memo":111
}

[2015-10-26 13:30] raghugitrepo opened #38 "Get Response body KW is not reading the json object which has got array."
Hi,

I am trying to read below response body using Get Resonse Body KW.

[code]

But the response it is reading is below

[code]

can you please help me how to get the content inside the list?

Quick response is very much appreciated.

[2015-10-26 13:45] peritus commented on #38
Could you provide a little more context ? What is your actual RF code, what is your server's HTTP response?

[2016-01-05 18:21] cgomeztk commented on #34
@GayanaYJ did you find a fix or workaround for this issue, I'm getting same error trying to request around 600 URI with GET, thanks in advance.

[2016-01-05 19:03] GayanaYJ commented on #34
@cgomeztk : Try inducing sleep of at least 5 second sleep before each consecutive request  OR just set the http context once for all test cases(setup context). According to my analysis, this happens when there are too many consecutive API calls and trying to set http context for every call.

[2016-01-05 19:26] cgomeztk commented on #34
hey @GayanaYJ thanks for your quick response, I found a workaround for this as well, I don't use "Create Http Context" keyword because the requests I do not always are to the same host, so I'm sending the absolute URL to the GET or HEAD request instead. So the workaround is adding "Restore Http Context" keyword before calling GET or HEAD, it successfully finished 609 requests, hope that helps.
Che

[2016-01-05 19:48] GayanaYJ commented on #34
@cgomeztk : Good to know about this workaround. Thank you

[2016-01-19 09:08] #37 closed, assigned to nobody

[2016-04-11 06:00] CooleyTukey opened #43 "utf8 characters not supported"
Can you set default encoding as utf8? I met errors while put utf8 characters in the request body.

[2016-05-08 08:54] vikulin commented on #30
I investigated issues related to Http Request.
Conclusion:
1. Http Request does not send HTTP headers at all.

Actual result:
Following headers are missing:
`Date-Iso:Testing
Authorization:Testing
Userid:vadym.vikulin@elephantdrive.com
`
Apache log after OPTIONS request by Http Request:
`
+9819:572ef840:6|OPTIONS /edtest HTTP/1.1|Accept-Encoding:identity|Host:localhost%3a80|Content-Length:0
-9819:

[2016-06-03 12:14] vikulin commented on #30
Any updates here?

[2016-06-06 12:16] Tset-Noitamotua opened #44 "How to use this library behind a proxy?"
Hi,
two questions:
1. How to use this library behind a proxy?
2. How to use it behind a proxy with authentification?

Thx

[2016-06-07 08:52] ShanthkumarS079 commented on #21
can i pass ?(@.ABC || @.XYZ) in the http get request.
I tired it on my machine it's failing.

[2016-06-08 03:40] ShanthkumarS079 opened #45 "Get with query parameters"
I'm using
GET http://localhost:<port>/url?query="$.ABC[?(@XYZ)]"

The request is failing with the 400 bad request but it works in the postman(chrome plugin).
Does the Get support for the special characters in the url.?
Please help me to resolve this.

[2016-07-04 05:31] vinaybond opened #47 "UnderScore In request header is replace with -"
I have noticed that _ in request header are being replaced with -  .

[code]

When I see the request via https shark, I see client_id is sent as Client-id. Due to this my request is failing.

[2016-07-08 04:49] vinaybond opened #48 "URL is encoded automatically"
I am sending a URL which is automatilly encoded when the request is hit from robotframework

http://192.168.1.5/myapi/component/persn000000000001045:(itemList)

It converts it into this when I see it using wire shark

http://192.168.1.5/myapi/component/persn000000000001045:%28itemList%29

After some troubleshooting, I found that in webob/request.py, there is a methods "blank" which contains line l

[2016-07-19 06:50] vinaybond commented on #48
Is anyone looking into this?

[2016-07-19 07:08] vinaybond commented on #47
Anyone looking into this?

[2016-07-21 13:01] vinaybond commented on #22
Is this resolved?

[2016-09-21 03:55] rarajabs commented on #22
not sure if this https://github.com/bulkan/robotframework-requests/issues/10 can solve the issue

[2016-11-25 09:32] digitalhomeiot opened #52 "Http headers not added to the HTTP Requests"
I m trying to do a HTTP GET Request

Whenever I execute the script it says "Request should have succeeded, but was '401 Unauthorized' "

I have set the basic auth and the required request headers, and when I try to capture the packet I see that the headers are not added to the Request.

Set Request Header    Content-Type    application/json
Set Request Header    Content-Type    application/x-www-f

[2017-02-26 20:49] anjalid123 commented on #17
How do I point to first element
eg: {"groups": [{"properties": [{"id": 1234},{"id": 5678}]}]

If I try,
 ${result} = Get Json Value ${output} /groups/0/properties/1/id

I am getting error : JsonPointerException: index '1' is out of bounds

[2017-02-27 03:06] jerry57 commented on #17
Looking at your example, there is only one properties which means it's
index would be "0" not "1".

Jerry S

On 2/26/17 1:49 PM, anjalid123 wrote:

--
http://www.linkedin.com/in/jerryschneider
Linux registered user #475536
Ubuntu registered user #28583

[2017-02-27 05:41] anjalid123 commented on #17
Thanks Jerry,
Can you tell me how can i access the id:5678?

[2017-02-27 13:12] jerry57 commented on #17
I am not at a machine where I have httplibrary installed.   What happens
if you try:
${results} =     Get JSON Value    ${output} /groups/0/properties/0/id/1
or this should return the properties array I believe
${results} =     Get JSON Value    ${output} /groups/0/properties/0/id

jer

On 2/26/17 1:49 PM, anjalid123 wrote:

--
http://www.linkedin.com/in/jerryschneider
Linux registered user #47553

[2017-02-27 18:45] anjalid123 commented on #17
${results} =     Get JSON Value    ${output} /groups/0/properties/0/id/1= 2
whereas I am looking for the value=5678.

I am looking to get the value without the use of loop.

Appreciate all the suggestions!

[2017-03-15 16:04] keerthikitty commented on #17
eg: {"groups": [{"properties": [{"id": 1234},{"id": 5678}]}]
Try ${result} = Get Json Value ${output} /groups/properties/1/id

[2017-03-28 09:15] blunttester commented on #29
If we have an unicode character in the url (e.g. é) httplibrary GET is not able to be completed either. So it is not only handling the response.body where the error occurs.

[2017-08-07 21:23] dipakbachhav opened #54 "Robot framework: Multipart form parse error - Invalid boundary in multipart"
Create Session          img     http://myimage.org
    ${headers}=          Create Dictionary    Content-Type =multipart/form-data
    ${params} =          Create Dictionary      access_key_id=${access_key_id}
    ${file_data}=       Get Binary File     C:\Users\User\Downloads\Test1.png
    &{data}=            Create Dictionary  file=${file_data}
    ${URI}=              Set Variable    /sampleuri

[2017-08-16 10:05] #54 closed, assigned to nobody

[2017-10-24 07:02] githubchiaweichang opened #56 "No timeout setting in Keywords "GET""
When it send a IP address that is not exist by "GET" command, then the keywords will keep until I press ctrl+C to break.

Because the "GET" won't return fail, I can't use keyword "Wait Until Keyword Succeeds" to set retry.

Please help me to resolve this. Thanks =)

[2017-11-09 12:26] jvanz commented on #36
Yeah, I need this configuration too. I believe it will be easy to add it to the lib. We need change this [line](https://github.com/peritus/robotframework-httplibrary/blob/master/src/HttpLibrary/livetest.py#L104) and add a extra argument:

`self.conn[scheme] = conn_classes[scheme](self.host, context=ssl._create_unverified_context())`

[2017-12-05 22:52] joaonc opened #57 "Import failing on Python 3.6"
There's an unsupported syntax in HttpLibrary __init__.py

[code]
is not supported in Python 3.6 (maybe other versions as well, not sure).
Updating to
[code]
works for Python 2.7 and above (maybe for lower versions of Python as well, not sure).

Also:
```from urllib import urlparse```
becomes
```from urllib.parse import urlparse```

and it's failing on importing `livetest`.
Tried `from HttpLibrary

[2017-12-05 23:14] joaonc commented on #57
Ok, got the imports for Python 3.6:

* `__init__.py`
[code]

* `livetest.py`
[code]

[2017-12-05 23:48] joaonc commented on #57
Also in `livetest.py`, line 121: `iteritems()` should be updated to `items()`
[code]

[2018-01-22 03:57] aks1589 commented on #57
hey @joaonc  I am having the same issues. Do we need to make all changes for the library to work ?

[2018-01-24 21:58] joaonc commented on #57
@aks1589 I'm pretty sure this is a defunct project and will never work in Python 3.x unless someone picks it up.
What we're doing is we're moving away from using this library altogether and have our own layer in Python (and imported as a library) that does the REST calls, using Python's `requests` library.

[2018-01-25 00:29] aks1589 commented on #57
thanks for the reply @joaonc ! Thats disappointing considering the functions this library had to offer. I am now using the requests library for my test cases.

[2018-06-22 06:53] vinaybond commented on #48
Anyone got chance to check this?

[2018-10-09 06:05] jmagaru commented on #57
Any updates on this? Im using now Python 3.7 and the issue is still on it

[2018-10-14 20:33] joaonc commented on #57
@jmagaru I don't think there will be any updates on this as this seems to be a defunct project.  My recommendation is that you don't use this library.

[2019-01-24 19:50] pablogiroud commented on #57
@joaonc Have you any recommendations instead this library?

[2019-01-24 20:48] joaonc commented on #57
@pablogiroud I don't know.  Maybe Robot Framework already provides some functionality in its libraries.

What I did was created a Python module using the [requests](http://docs.python-requests.org/en/master/) package, which makes doing REST calls super easy, and imported it into Robot as a library.

[2019-01-25 00:25] jmagaru commented on #57
Yes request library looks easy to use.
https://github.com/bulkan/robotframework-requests

[2019-01-25 14:49] pablogiroud commented on #57
thanks @joaonc  and @jmagaru !!!

[2019-02-06 06:58] vinaybond commented on #57
@peritus  , Is there a plan to support this library for Python 3.x?

[2019-03-28 20:08] Gurinder-Bhachu commented on #57
Can someone help me also i am getting this error
`Importing test library 'HttpLibrary.HTTP' failed: SyntaxError: invalid syntax (__init__.py, line 16)
Traceback (most recent call last)
`
pip list installed

**Package                        Version**
asn1crypto                     0.24.0
beautifulsoup4                 4.7.1
certifi                        2019.3.9
cffi                           1.12

[2019-07-15 07:02] Klee666 opened #59 "import httplibrary3 failing on python3.6"
Importing test library 'httplibrary3' failed: ModuleNotFoundError: No module named 'httplibrary3'
Traceback (most recent call last):
  File "e:\python36\lib\site-packages\robotide\lib\robot\utils\importer.py", line 153, in _import
    return __import__(name, fromlist=fromlist)
PYTHONPATH:
  E:\Python36\Scripts
  E:\Python36\Lib
  E:\Python36\DLLs
  E:\Python36\Scripts
  E:\Python36
  e:\python36\p

[2019-11-14 01:30] herry-ff commented on #57
i am getting the same error,please to help me

[code]

[2019-12-13 08:32] wutingbupt commented on #10
this

Your answer save my day :)

[2019-12-17 08:27] zhaobin200306 commented on #57
I have the same issue.

but i have install  HttpLibrary.HTTP.

robotframework (3.1.2)
robotframework-httplibrary (0.4.2)
robotframework-requests (0.6.2)
robotframework-ride (1.7.4a1)
robotframework-selenium2library (3.0.0)
robotframework-seleniumlibrary (4.1.0)
robotframework-seriallibrary (0.3.1)
robotframework-sshlibrary (3.4.0)

`20191217 16:04:52.554 [WARN]: Importing test library "HttpLibrary

[2019-12-31 02:48] HoangHo16 opened #65 "httplibrary is red after installing successfully"
Please help.
After httplibrary is installed successfully, I add this library to use but it's red.
Other libraries are fine, just issue in httplibrary.
Not sure why, please help me on this.
More info: httplibrary 0.4.2, RIDE 1.7.4.1dev running on Python 3.7.4.

Thanks,
Hoang
![httplibrary](https://user-images.githubusercontent.com/59380452/71608286-ac1d5d00-2bb2-11ea-8b1a-671170bf546d.png)

[2020-01-02 10:05] mattias-elvaco commented on #65
It's not py3 compatible

[2020-01-02 18:08] Sathish787 commented on #57
Thanks to Author of this library. One of the best API library to use in Robot framework especially with session retained for subsequent requests in page object test automation model. This is not achievable using other libraries. So thought of fixing issues with this library for Python 3 and I was successful and it is working.

Python version I  tried is python 3.8.1. As I do not know how to build

[2020-01-06 01:54] HoangHo16 commented on #65
Oh thanks Mattias. I'm using RequestLibrary instead.

[2020-04-21 11:32] tgyogesh opened #68 "Importing test library 'HttpLibrary.HTTP' failed in python 3.8"
Importing test library 'HttpLibrary.HTTP' failed: SyntaxError: invalid syntax
Traceback (most recent call last):
  None
PYTHONPATH:
  C:\Robot
  C:\Python38\python38.zip
  C:\Python38\DLLs
  C:\Python38\lib
  C:\Python38
  C:\Python38\lib\site-packages

[2020-05-20 17:10] unfadding commented on #68
I've got the same error

[2020-06-02 09:15] #65 closed, assigned to nobody

[2020-06-02 09:25] HoangHo16 opened #69 "Not found 'Open browser' keyword in Selenium2Library"
After installing Selenium2Library library successfully,
I don't find some keywords like 'Open browser', 'Page should contain ...'
However, other keywords are visible, like 'Close browser', "Element should be enabel'..
It's so strange! Is the issue from driver of browsers?
Please help.
I'm using python 3.8.2 and Selenium2Library 3.3.0 and SeleniumLibrary 4.4.0
![not found open browser key work](htt

[2020-07-20 21:47] theddaywork commented on #59
I am getting similar errors using Robot Framework 3.1.2 and Python 3.7.1:

C:\Work\robot-scripts>robot -d results Tests\test-http.robot
[ ERROR ] Error in file 'C:\Work\robot-scripts\playground\Tests\test-http.robot': Importing test library 'HttpLibrary.HTTP' failed: ModuleNotFoundError: No module named 'httplib'
Traceback (most recent call last):
  File "c:\users\dday\appdata\local\programs\pytho

[2020-09-12 07:39] syed-wasim commented on #57
is this library not to be used?
I am also getting same error
 Importing test library 'HttpLibrary.HTTP' failed: SyntaxError: invalid syntax (__init__.py, line 16)

[2020-12-31 14:41] petersohn commented on #68
The error is traced back to `__init__.py, line 16`. That's this line:

https://github.com/peritus/robotframework-httplibrary/blob/0cb5d8fc673a82776e51def26cd7735b141bda68/src/HttpLibrary/__init__.py#L16

This has a Python 2 syntax, which got removed from Python 3.

[2021-05-20 01:53] seymafirat commented on #54
hello, can you find any solution for this?

[2022-02-18 13:31] Swati3027 commented on #26
How to get the response message of a 400 response?
suppose , i am getting a error msg - "xyz is not present" along with a 400 status code.
How can i fetch this message?

[2022-08-31 12:26] QJZX opened #72 "some codes have SyntaxError in python high version"
Syntax location: HttpLibrary/__init__.py :row 16,551

[code]

It should be like this in high version of python:

[code]

If it wants to be compatible with low version, please add a `if(sys.version_info.major>3&&sys.version_info.minor<7)`to  select which usage.